geo-map {
    width: 100%;
    overflow: hidden;
}

.map-popup {
    font-size: 0.8rem;
    font-family: var(--font-family-sans);
    color: rgb(var(--color-black));
}

.map-popup .map-popup__map-popup-title {
    font-weight: 500;
    color:inherit
}

.map-popup .map-popup__map-popup-address {
    margin-top: 0.5rem;
    font-style: normal;
    opacity: 0.6;
}
