* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    font-family: var(--font-family-sans);
    font-size: 1.4rem;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(var(--color-primary));
    color: rgb(var(--color-text));
}
