:root {
    --font-family-display: 'Jost', sans-serif;
    --font-family-copy: 'Source Sans Pro', sans-serif;

    --color-primary: 202, 194, 188;
    --color-secondary: 125, 113, 104;
    --color-secondary-contrast: 250, 250, 250;
    --color-contrast: 173, 167, 201;
    --color-text: 250, 250, 250;
    --color-text-inverted: var(--color-secondary);
    --color-white: 250, 250, 250;
    --color-black: 10, 10, 10;
}
