<%- include('partials/header.html.ejs', {title:'Kontakt'}); %>

  <article class="content">
    <section class="content__section content__section--full-height">
      <div class="section__inner">
        <header>
          <h1>Kontakt</h1>
        </header>

        <form method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded"
          action="/api/contact-submission">
          <label for="name">
            <input type="text" required name="name" id="name" placeholder="Sabine Mustermann" autocomplete="name"
              autofocus autocapitalize>
            <span>Ihr Name</span>
          </label>

          <div class="form__group">
            <label for="phone">
              <input type="phone" name="phone" id="phone" placeholder="07681&thinsp;/&thinsp;123456789"
                autocomplete="tel">
              <span>Ihre Telefonnummer (optional)</span>
            </label>

            <label for="email">
              <input type="email" name="email" id="email" placeholder="sabine@mustermann.de" autocomplete="email">
              <span>Ihre E-Mail-Adresse (optional)</span>
            </label>
          </div>

          <label for="message">
            <textarea name="message" id="message" spellcheck="true" required></textarea>
            <span>Ihre Nachricht</span>
          </label>

          <button type="submit">
            <span>Nachricht abschicken</span>
          </button>
        </form>
      </div>
    </section>

    <footer class="content__section content__section--footer">
      <nav class="footer-links" id="footer">
        <span class="footer-links__footer-link">
          <a href="/">Home</a>
        </span>

        <% for (const link of vars.footerLinks) { %>
          <span class="footer-links__footer-link">
            <a href="<%- link.href %>">
              <%- link.label %>
            </a>
          </span>
          <% } %>
      </nav>
    </footer>
  </article>

  <%- include('partials/footer.html.ejs', {}); %>
