<!doctype html>
<html lang="de">

<head>
  <title>Kontakt | Studio Feinschliff</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="<%- vars.primaryColor %>">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Source+Sans+Pro:wght@300;400&display=swap"
    rel="stylesheet">
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
</head>

<body>
  <article class="content">
    <section class="content__section content__section--full-height">
      <div class="section__inner">
        <header>
          <h1>Kontakt</h1>
        </header>

        <form method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded"
          action="/api/contact-submission">
          <label for="name">
            <input type="text" required name="name" id="name" placeholder="Sabine Mustermann" autocomplete="name"
              autofocus autocapitalize>
            <span>Ihr Name</span>
          </label>

          <div class="form__group">
            <label for="phone">
              <input type="phone" name="phone" id="phone" placeholder="07681&thinsp;/&thinsp;123456789"
                autocomplete="tel">
              <span>Ihre Telefonnummer (optional)</span>
            </label>

            <label for="email">
              <input type="email" name="email" id="email" placeholder="sabine@mustermann.de" autocomplete="email">
              <span>Ihre E-Mail-Adresse (optional)</span>
            </label>
          </div>

          <label for="message">
            <textarea name="message" id="message" spellcheck="true" required></textarea>
            <span>Ihre Nachricht</span>
          </label>

          <button type="submit">
            <span>Nachricht abschicken</span>
          </button>
        </form>
      </div>
    </section>

    <footer class="content__section content__section--footer">
      <nav class="footer-links" id="footer">
        <span class="footer-links__footer-link">
          <a href="/">Home</a>
        </span>

        <% for (const link of vars.footerLinks) { %>
          <span class="footer-links__footer-link">
            <a href="<%- link.href %>">
              <%- link.label %>
            </a>
          </span>
          <% } %>
      </nav>
    </footer>
  </article>

  <script type="module" src="../main.ts" async defer></script>
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

  <% if (vars.googleTagEnabled) { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%- vars.googleTagId %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      const gtag = ( ...args ) => dataLayer.push( args );

      gtag( 'js', new Date() );
      gtag( 'config', '<%- vars.googleTagId %>', {
        anonymize_ip: true
      } );
    </script>
    <% } %>

      <script type="application/ld+json">
    <%- JSON.stringify(schema) %>
  </script>
</body>

</html>
