<%- include('partials/header.html.ejs', {title:''}); %>

  <article class="content">
    <header class="content__section content__section--header content__section--hero" id="hero">
      <div class="section__hero">
        <h1 class="hero__title">feinschliff.studio</h1>

        <strong class="hero__subtitle">Termine nach Vereinbarung</strong>
      </div>

      <scroll-indicator indicator-size="24px" href="#intro"></scroll-indicator>
    </header>

    <section class="content__section content__section--recede" id="intro">
      <div class="section__inner">
        <p>
          <strong>Ich bin Verena Alpers.</strong>
        </p>
        <p>
          Über dreißig Jahre habe ich als Kranken&shy;schwester gearbeitet, darunter auch einige Jahre in der
          Derma&shy;tologie.
          Kosmetik und Fußpflege runden meine Erfahrung nun ab und ich freue mich Ihnen dies in neu gestalteten Räumen
          anbieten zu&nbsp;können.
        </p>
        <p>
          Um Schönheit auszustrahlen, müssen wir uns erst einmal wohl in unserer Haut fühlen.
          Im Zustand der Entspannung gelingt uns das am&nbsp;besten.<br>
          Ich lade Sie ein den Alltag hinter sich zu lassen, um bei sich selbst&nbsp;anzukommen.
        </p>
      </div>
    </section>

    <section class="content__section content__section--gallery content__section--fill" id="gallery">
      <media-gallery per-view="2" start-at="0" autoplay="500" gap="0" keyboard>
        <img src="../assets/images/a.jpg">
        <img src="../assets/images/b.jpg">
        <img src="../assets/images/c.jpg">
        <img src="../assets/images/d.jpg">
        <img src="../assets/images/e.jpg">
        <img src="../assets/images/f.jpg">
        <img src="../assets/images/g.jpg">
      </media-gallery>
    </section>

    <section class="content__section" id="treatments">
      <div class="section__inner">
        <header>
          <h3>Behandlungen</h3>
        </header>

        <div class="subheading">
          <h4>Acid-Infusion</h4>
          <data>75&hairsp;€</data>
        </div>

        <p>
          Bei der Acid-Infusion handelt es sich um ein Säure-Peeling. Bereits nach der ersten Behandlung wirkt die
          Haut
          geglättet und eben&shy;mäßiger, sie strahlt wieder. Als Kur ist sie ein Neustart für die&nbsp;Haut.
        </p>

        <span>Geeignet bei:</span>
        <ul>
          <li>Unreiner Haut</li>
          <li>Großporiger Haut</li>
          <li>Altersflecken und Fältchen</li>
          <li>Lichtgeschädigter Haut</li>
          <li>Ungleichmäßiger Haut</li>
          <li>Oberflächliche Narben, aber auch tief&shy;liegende Aknenarben</li>
          <li>Fahle und graue Haut</li>
          <li>Reife Haut</li>
          <li>Trockene schuppige Haut</li>
        </ul>

        <span>Nicht geeignet bei:</span>
        <ul>
          <li>Sehr sensibler oder akut gereizter Haut</li>
          <li>Vorgeschädigter Haut nach Chemo&shy;therapie oder Cortison</li>
          <li>Psoriasis, Ekzemen, Neuro&shy;dermitis oder Vitiligo, entzündlicher Akne</li>
          <li>Keloidnarben</li>
        </ul>

        <p>Lassen Sie sich hierzu individuell beraten.</p>

        <div class="subheading">
          <h4>Micro-Needling</h4>
          <data>95&hairsp;€ + einmalig 29&hairsp;€ Needling Roller</data>
        </div>

        <p>
          Das Micro-Needling gehört zu den wirkungs&shy;vollsten nicht-invasiven Verfahren und regt die erstaunlichen
          Regenerations- und Selbst&shy;heilungs&shy;mechanismen der Haut an. Die feinen Nadeln des Rollers durchdringen
          die
          Hautoberfläche und täuschen ihr eine &raquo;Verletzung&laquo; vor.
          Die Haut produziert unmittelbar mehr Kollagen, Elastin und auch&nbsp;Hyaluronsäure.
        </p>
        <p>
          Geeignet im Anti-Aging Bereich, aber auch bei UV-Schäden und Pigment&shy;störungen, Narben, sowie großporiger,
          öliger oder fahler&nbsp;Haut.
        </p>

        <p>Lassen Sie sich hierzu individuell beraten.</p>

        <div class="subheading">
          <h4>Biodroga Drainmassage</h4>
          <data>15&hairsp;€</data>
        </div>

        <p>
          Diese spezielle Gesichts&shy;massage regt den Lymphfluss an und kann so entstauen. Das Gesicht erscheint rosig
          und&nbsp;erholt.
        </p>

        <div class="subheading">
          <h4>Verwöhnbehandlung</h4>
          <data>90&hairsp;€</data>
        </div>

        <p>
          Ich biete Ihnen auch eine 60- oder 90-minütige Biodroga Verwöhn&shy;behandlung an: Ihre Haut bekommt alles was
          sie braucht, während Sie Ruhe und Kraft schöpfen.<br>
          Die Behandlung umfasst eine Analyse, gefolgt von entsprechender Reinigung, Peeling, Maske und
          Augenbrauen&shy;zupfen, sowie
          eine entspannende&nbsp;Gesichts&shy;massage.
        </p>
        <p>
          Während wir Ihre Wünsche besprechen, können Sie gerne einen Tee oder Kaffee&nbsp;genießen.
        </p>

        <h4>Weitere Leistungen</h4>

        <ul class="price-list">
          <li>
            <span>Fußpflege (inkl. Fußbad und Creme)</span>
            <data>38&hairsp;€</data>
          </li>

          <li>
            <span>Lackieren</span>
            <data>3&hairsp;€</data>
          </li>

          <li>
            <span>Augenbrauen zupfen&thinsp;/&thinsp;färben</span>
            <data>15&hairsp;€</data>
          </li>
          <li>
            <span>Wimpern färben</span>
            <data>15&hairsp;€</data>
          </li>

          <li>
            <span>Maniküre</span>
            <data>35&hairsp;€</data>
          </li>

          <li>
            <span>Lackieren</span>
            <data>3&hairsp;€</data>
          </li>
        </ul>

        <hr>

        <p>
          Wir bieten Ihnen auch Hilfe und Beratung bei eingewachsenen Nägeln&nbsp;etc.<br>
          Hausbesuche sind möglich.
        </p>

      </div>
    </section>

    <footer class="content__section content__section--footer content__section--fill" id="map">
      <geo-map map-width="100%" map-height="600px" class="map__container"
        map-center="<%- schema.geo.latitude %>,<%- schema.geo.longitude %>" map-zoom="17" map-id="<%- vars.geoMapId %>">
        <map-marker>
          <map-popup y-offset="-5">
            <span class="map-popup__map-popup-title">
              <%- schema.name %>
            </span>
            <address class="map-popup__map-popup-address">
              <span>
                <%- schema.address.streetAddress %>
              </span>
              <br>
              <span>
                <%- schema.address.postalCode %>
              </span>
              <span>
                <%- schema.address.addressLocality %>
              </span>
            </address>
          </map-popup>
        </map-marker>
      </geo-map>

      <nav class="footer-links" id="footer">
        <% for (const link of vars.footerLinks) { %>
          <span class="footer-links__footer-link">
            <a href="<%- link.href %>">
              <%- link.label %>
            </a>
          </span>
          <% } %>
      </nav>
    </footer>
  </article>

  <%- include('partials/footer.html.ejs', {}); %>
