    <consent-banner accept-label="Annehmen" decline-label="Ablehnen">
      <p>
        Wir verwenden Cookies und andere Technologien auf unserer Website.
        Einige von ihnen sind essenziell, während andere uns helfen, diese
        Website und Ihre Erfahrung zu verbessern.
      </p>
      <p>
        Weitere Informationen über die Verwendung Ihrer Daten finden Sie in
        unserer <a href="/privacy.html">Datenschutzerklärung</a>. Sie können
        Ihre Auswahl dort jederzeit widerrufen oder anpassen.
      </p>
    </consent-banner>

    <script type="module" src="../main.ts" defer></script>

    <% if (vars.googleTagEnabled) { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%- vars.googleTagId %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        const gtag = ( ...args ) => dataLayer.push( args );

        gtag( 'js', new Date() );
        gtag( 'config', '<%- vars.googleTagId %>', {
            anonymize_ip: true
        } );
    </script>
  <% } %>

  <script type="application/ld+json">
    <%- JSON.stringify(schema) %>
  </script>
</body>
</html>
