<!doctype html>
<html lang="de">

<head>
    <title>
        <%- title ? title + ` | ` : `` %>Studio Feinschliff
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="<%- vars.primaryColor %>">
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
</head>

<body>
