<html lang="de">
    <head>
        <title>Neue Nachricht</title>
        <style type="text/css">
            body {
                font-family: sans-serif;
                color:#333;
                line-height: 1.4;
                padding: 32px;
            }
        </style>
    </head>
    <body>
        <span>Eine neue Nachricht von <%- name %>:</span><br>
        <p><%- message %></p>
        <br>
        <span>Telefonnummer: </span><strong><%- phone || 'Nicht angegeben' %></strong><br>
        <span>E-Mail-Adresse: </span><strong><%- email || 'Nicht angegeben' %></strong>
    </body>
</html>
