<!doctype html>
<html lang="en">

<head>
  <title>Studio Feinschliff</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="<%- primaryColor %>">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
</head>

<body>
  <h1>feinschliff.studio</h1>

  <p>Termine nach Vereinbarung</p>
</body>

<script type="module" src="./main.ts"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%- googleTagId %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  const gtag = () => dataLayer.push( arguments );

  gtag( 'js', new Date() );
  gtag( 'config', '<%- googleTagId %>', {
    anonymize_ip: true
  } );
</script>

</html>
