<!doctype html>
<html lang="en">

<head>
  <title>Studio Feinschliff</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="<%- primaryColor %>">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
</head>

<body>
  <article class="content">
    <header class="content__section content__section--header" id="hero">
      <div class="section__hero">
        <h1 class="hero__title">feinschliff.studio</h1>

        <p class="hero__subtitle">Termine nach Vereinbarung</p>
      </div>

      <scroll-indicator indicator-size="24px" href="#intro"></scroll-indicator>
    </header>

    <section class="content__section" id="intro">
      <div class="section__inner">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </div>
    </section>

    <footer class="content__section content__section--footer content__section--fill" id="map">
      <geo-map map-width="100%" map-height="600px" class="map__container"
        map-center="<%- localBusinessSchema.geo.latitude %>,<%- localBusinessSchema.geo.longitude %>" map-zoom="17"
        map-id="<%- geoMapId %>">
        <map-marker>
          <map-popup y-offset="-5">
            <span class="map-popup__map-popup-title">
              <%- localBusinessSchema.name %>
            </span>
            <address class="map-popup__map-popup-address">
              <span>
                <%- localBusinessSchema.address.streetAddress %>
              </span>
              <br>
              <span>
                <%- localBusinessSchema.address.postalCode %>
              </span>
              <span>
                <%- localBusinessSchema.address.addressLocality %>
              </span>
            </address>
          </map-popup>
        </map-marker>
      </geo-map>

      <nav class="footer-links" id="footer">
        <span class="footer-links__footer-link">
          <a href="">Kontakt</a>
        </span>
        <span class="footer-links__footer-link">
          <a href="">Datenschutz</a>
        </span>
        <span class="footer-links__footer-link">
          <a href="">Impressum</a>
        </span>
      </nav>
    </footer>
  </article>
</body>

<script type="module" src="./main.ts"></script>

<% if (googleTagEnabled) { %>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%- googleTagId %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  const gtag = ( ...args ) => dataLayer.push( args );

  gtag( 'js', new Date() );
  gtag( 'config', '<%- googleTagId %>', {
    anonymize_ip: true
  } );
</script>
<% } %>

<script type="application/ld+json">
  <%- JSON.stringify(localBusinessSchema) %>
</script>

</html>
