html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eff0fa;
    font-family: 'Playfair Display', sans-serif;
}

h1 {
    font-size: 3vmax;
    color: #9e99ad;
    text-shadow: -1px 1px rgba(255, 255, 255, 0.25);
    background-image: linear-gradient(180deg, #9e99ad, #615e6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
